
<!DOCTYPE html>
<html>
<body>

session_start();

        if (isset($_GET["cerrar"])){
            session_unset();
            session_destroy();
            unset($_SESSION["id"]);
        }

        if (!isset($_SESSION["id"])){
            header("location:../ingresar.php");
        }

?>


<h2>Proyectos</h>

<p>
<a href="../Proyectos/tpa_almacen/cam_tpa_almacen.html">
<img border="0" alt="Camara tpa_almacen" src="../images/logo_cam.png" width="150" height="150">
</a>
</p>

<a href="../index.html?cerrar=true">Cerrar Sesion</a>

</body>
</html>
